{% extends "base.html" %}

{% load markdown_extras %}

{% block content %}

<p>
This is a space for news about projects, ideas for future
development, information that doesn't fit easily into documentation,
and thoughts on technology, music, science,
or whatever else I'm thinking about.
</p>

<!-- div class="section-sep"></div -->

<section class=chip-cloud>
<h2>Tags:</h2>
{% for tag in tags %}
    <a
     {% if tagview == tag.slug %}class="current-chip"{% endif %}
     href="{% url 'blog:tag' tag.slug %}"
    >
        {{ tag.name }} ({{ tag.num_posts }})
    </a>
{% endfor %}
</section>

<!-- div class="section-sep"></div -->

<section class=chip-cloud>
<h2>Archive:</h2>
{% for year in archive %}
    <a
     {% if yearview == year.year %}class="current-chip"{% endif %}
     href="{% url 'blog:year' year.year %}"
    >
        {{ year.year }} ({{ year.num_posts }})
    </a>
{% endfor %}
</section>

<div class="section-sep"></div>

<ul class="post-list">
{% for post in posts %}
    <li>
        <div class="post-list-headline">
            <h3>
                <a href="{% url 'blog:post' post.slug %}">
                    {{ post.title }}
                </a>
            </h3>
            <div class="post-list-info">
                {{ post.created }}
            </div>
        </div>
        <div class="chip-cloud">
        {% for tag in post.tags.all %}
            <a class="chip" href="{% url 'blog:tag' tag.slug %}">
                {{ tag.name }}
            </a>
        {% endfor %}
        </div>
        <blockquote class="summary">{{ post.summary }}</blockquote>
    </li>
{% endfor %}
</ul>

<nav class="pager">
    {% if page_obj.has_previous %}
        <a href="?page=1">
            first {{ paginator.per_page }}
        </a>
        <span class="nav-sep"></span>
        <a href="?page={{ page_obj.previous_page_number }}">
            previous {{ paginator.per_page }}
        </a>
        <span class="nav-sep"></span>
    {% endif %}

    {{ page_obj.start_index }}-{{ page_obj.end_index }}
    of {{ paginator.count }}

    {% if page_obj.has_next %}
        <span class="nav-sep"></span>
        <a href="?page={{ page_obj.next_page_number }}">
            next {{ paginator.per_page }}
        </a>
        <span class="nav-sep"></span>
        <a href="?page={{ page_obj.paginator.num_pages }}">
            last {{ paginator.per_page }}
        </a>
    {% endif %}
</nav>

{% endblock %}

