{% extends "base.html" %}

{% load markdown_extras %}

{% block content %}

<p>
Welcome to Geek Funk Labs, a small independent workshop focused on
open-source music technology, embedded systems, Linux audio, and
experimental hardware/software projects.
Though there are some things for sale, the primary goal is providing
everything needed to build it/learn it yourself!
Check out active projects and latest posts below.
</p>

<div class="section-sep"></div>

<ul class="post-list">
{% for project in featured_projects %}
    <li>
        <h3>
            <a href="{% url 'projects:project' project.slug %}">
                {{ project.name }}
            </a>
        </h3>
        <blockquote class="summary">
            {{ project.summary }}
        </blockquote>
    </li>
{% endfor %}
</ul>

<div class="section-sep"></div>

<ul class="post-list">
{% for post in recent_posts %}
    <li>
        <div class="post-list-headline">
            <h3>
                <a href="{% url 'blog:post' post.slug %}">
                    {{ post.title }}
                </a>
            </h3>
            <div class="post-list-info">
                {{ post.created }}
            </div>
        </div>
        <div class="chip-cloud">
        {% for tag in post.tags.all %}
            <a class="chip" href="{% url 'blog:tag' tag.slug %}">
                {{ tag.name }}
            </a>
        {% endfor %}
        </div>
        <blockquote class="summary">
            {{ post.summary }}
        </blockquote>
    </li>
{% endfor %}
</ul>

{% endblock %}
